html,
body,
.app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 13pt;
	font-family: sans-serif;
	color: rgb(60, 60, 60);
}

.app {
	display: flex;
	background: rgb(245, 245, 245);
}
